body {
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    height: 30vh;
    border: 1px black solid;
    background: linear-gradient(black, green);
}

.title {
    color: whitesmoke;
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 1px 10px lime;
}

.nav-btns {
    display: grid;
    justify-items: center;
    row-gap: 5px;
    list-style-type: none;
}